html{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

body{
    background-color: grey	;
    color: #000;

}

.container{
    margin: 25px auto; 
    position: relative; 
    width: 900px;
    
}

.conten{
    background: rgb(128,0,0);
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  width: 400px;
  height: 270px;
}

#signup{
    display: none;
}

.conten2{
    background: rgb(128,0,0);
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    width: 400px;
    height: 500px;
}

.conten a{
    color: black;
}

.conten a:hover{
    color: grey;
}

.input{
    height: 30px;
    width: 50%;
}

.bdlogo{
    height: auto;
    width: 32%;
    justify-content: center;
}

.log{
    padding-left: 41%;
}

.logbutton{
    width: 80%;
    border-radius: 12px;
}

.logbutton:hover {
    background-color: grey;
    color: white;
}

.content a{
    color: black;
    text-decoration: underline grey;
}

.navContent {
    justify-content: center;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.stickynav {
    display: sticky;
    top: 0;
    left: 0;
    position: fixed;
    background-color: maroon;
    width: 100%;
    margin: 0;
    font-size: 175%;
    color: white;
    font-family: 'Estonia', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-align: center;
    z-index: 1000;
}

.stickynav a {
    text-decoration: none;
    color: white;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.content {
    justify-content: center;
    text-align: center;
}
.content h1 {
    font-size: 400%;
    font-family: 'Estonia', cursive;

}


.checkOut {
    justify-content: right;
    display: block;
    text-align: right;
    display: flex;
}

.cartBody {
    color: rgb(201, 201, 201);
    margin-top: 75px;
    height: 750px;
    width: 90%;
    justify-content: center;
    text-align: center;
    margin-left: 10%;
}

.shop-item{
    float: left;
    padding-left: 15%;
}

 .shop-item-info{

        text-align: center;
    }

.shop-item img{
    height: 150px;
    width: 150px;
}

.shop-item-info{
    text-align: center;
}

.btn{
    background-color: maroon;
    border-radius: 5px;
    color: grey;
}

.shop-item2{
    float: left;
    padding-left: 15%;
    padding-top: 20px;
}

.shop-item2 img{
    height: 150px;
    width: 150px;
}

.storehours {
    padding-top: 13%;
    padding-left: 5%;
    padding-right: 5%;
}
.storehours table,th,td{
    border: 3px solid black ;
    border-collapse: collapse;
    color: maroon;
    background-color: white;
}
.storehours table{
    width: 100%;
    height: 25%;
}
.storehours th,td{
    text-align: center;

}
.cart-container{
    width: 70%;
 height: 85%;
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 25px 40px maroon;
}
.cart-items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .about{
    height: 100%;
   }
   .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
   }
   .counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .bttnn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
   }
   .count{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
   }
   .prices{
    height: 100%;
    text-align: right;
   }
   .amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }
   .save{
    padding-top: 5px;
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
   }
   .remove{
    padding-top: 5px;
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
   }