html{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
body{
    background-color: grey	;
    color: #000;
    
}
.container{
    margin: 25px auto; 
    position: relative; 
    width: 900px;
    
}
.conten{
    background: rgb(128,0,0);
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  width: 400px;
  height: 270px;
}
.conten2{
    background: rgb(128,0,0);
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    width: 400px;
    height: 500px;
}
.conten a{
    color: black;
}
.conten a:hover{
    color: grey;
}
.input{
    height: 30px;
    width: 50%;
}
.bdlogo{
    height: auto;
    width: 32%;
    justify-content: center;
}
.log{
    padding-left: 41%;
}
.logbutton{
    width: 80%;
    border-radius: 12px;
}
.logbutton:hover {
    background-color: grey;
    color: white;
}
.content a{
    color: black;
    text-decoration: underline grey;
}
.navContent {
    justify-content: center;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.stickynav {
    display: sticky;
    top: 0;
    left: 0;
    position: fixed;
    background-color: maroon;
    width: 100%;
    margin: 0;
    font-size: 150%;
    color: white;
    font-family: cursive;
    padding-left: 7.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    z-index: 1000;
}

.navbar-left {
    padding-right: 60%;
}

.stickynav a {
    text-decoration: none;
    color: white;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.content {
    justify-content: center;
    text-align: center;
}
.content h1 {
    font-size: 200%;
    font-family: cursive, serif;

}
.shop-item{
    float: left;
    padding-left: 15%;
    
    }
    .shop-item-info{
        text-align: center;
    }
    .shop-item img{
        height: 150px;
        width: 150px;
    }
    .btn{
        background-color: maroon;
        border-radius: 5px;
        color: grey;
    }
